*, body {
	    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';

    transition: all .3s ease;
}

div#demo {
    width: 1440px;
    margin: 0 auto;
}

ul {
	    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

li {
	display: block;
    width: 264px;
    margin: 12px;
    background: #fff;
    padding: 0 0 20px;
    position: relative;
    word-wrap: break-word;
    box-shadow: 0 15px 15px rgba(77,105,133,.08);
}

li:hover {
    box-shadow: 0 25px 25px rgba(77,105,133,.16);
    transform: translateY(-15px);
}

span {
    margin: 5px 25px 5px 25px;
}

button.remove {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    font-size: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 6px;
    right: 6px;
}

button.remove:after {
    content: '+';
    display: block;
    position: absolute;
    font-size: 14px;
    line-height: 10px;
    color: red;
    right: 0;
    top: 0;
    font-weight: bold;
    cursor: pointer;
    transform: rotate(45deg);
}

.block-header {
    width: 100%;
    height: 60px;
    background-color: #ffe3e3;
    padding-top: 10px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    word-wrap: break-word;
    text-transform: lowercase;
    line-height: 1;
    color: #434653;
}

.body {
	position: relative;
}

.task {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #434653;
        margin-top: 10px;
}

.comment-header {
    display: block;
    font-size: 13px;
    color: #909ba6;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.comment {
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    font-size: 12px;
    font-weight: 400;
    display: block;
    width: 100%;
    color: #000;
    line-height: 1;
}

.time {
        margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.time span {
    display: inline;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.result {
        font-size: 24px;
    color: #434653;
    font-weight: 400;
    display: block;
    position: absolute;
    right: 0;
    width: 40px;
    top: 0;
    text-align: right;
    margin: 10px 20px 0 0;
}

form {
    width: 260px;
    height: 100%;
    margin: 0 auto;
    background-color: #e8e8e8;
    padding: 15px 20px;
}
input {
	padding: 5px 10px;
    font-size: 16px;
    font-weight: 300;
    margin: 6px 0;
    border: none;
    outline: none;
    background-color: #e8e8e8;
}

input[value] {
    color: #717171;
    font-weight: 400;
}

input:focus {
    /*outline-color: white;
    outline-style: solid;
    outline-width: 1px;*/
    outline: none;
}

button {
	    -webkit-appearance: none;
    border: none;
    padding: 6px;
    width: 50%;
    margin: 0 auto;
    display: block;
    background-color: #fbfbfb;
    box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.6);
    outline: none;
    cursor: pointer;
}